<div class="container-fluid">
  <div class="topnav">
    <a style="font-size: 30px;"><span style="color: green;">ReversePipe</span></a>
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/register">Register</a>
    <a routerLink="/login">Login</a>

  </div>



  <div class="container-fluid bg1" style="background-image: url(assets/bg.jpeg);">
    
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1 style="text-align: center;">Reverse Pipe Example</h1>
        <h1 style="text-align: center;">{{ "Reverse Pipe" | reversepipe }}</h1>
        <h1 style="text-align: center;">{{ fullName | reversepipe }}</h1>
      </div>
      <div class="col-md-3"></div>

    </div><br><br>
  </div>


  <div class="container-fluid bg">


    <div style="text-align: center;">
      <p>&copy; Copywrite Classic. All Rights Reserved<br> Designed By GOOGLEMADEIT.
      </p>
    </div>

  </div>